@use "variables.scss";

ul {
  @include variables.centralize(90%, 14rem, auto);
}

li {
  margin: 3.5rem 0;
  @include variables.flex(column, nowrap, "", "");
  background: white;
  padding: 2.5rem;
  position: relative;
  border-radius: 0.4rem;
  box-shadow: 0.3rem 0.3rem 3rem -1rem map-get(variables.$neutralColors, darkGrayishCyan);

  &.featured {
    border-left: 0.5rem solid variables.$primary;
  }

  .companyLogo {
    position: absolute;
    top: -2.5rem;
  }

  .jobInformation {
    @include variables.flex(column, nowrap, "", "");
    .companyDesciption {
      @include variables.flex("", "", center, "");

      .companyName {
        color: variables.$primary;
        margin: 1rem 0;
      }

      .featureContainer {
        @include variables.flex("", "", center, "");
        margin: 0 1rem;
        p {
          font-size: 1.2rem;
          color: white;
          margin: 0 0.2rem;
        }
      }

      .new {
        background-color: variables.$primary;
        padding: 0.3rem 0.5rem;
        border-radius: 1rem;
      }

      .featured {
        background-color: map-get(variables.$neutralColors, veryDarkCyan);
        padding: 0.3rem 0.5rem;
        border-radius: 1rem;
      }
    }

    .jobTitles {
      color: map-get(variables.$neutralColors, veryDarkCyan);
      margin: 0.5rem 0;

      &:hover {
        color: variables.$primary;
        cursor: pointer;
      }
    }

    .jobDescription {
      width: 100%;
      display: flex;
      border-bottom: 0.1rem solid
        map-get(variables.$neutralColors, darkGrayishCyan);
      padding: 0.5rem 0;
      color: map-get(variables.$neutralColors, darkGrayishCyan);

      :nth-child(2) {
        margin: 0 1rem;
        position: relative;

        &::after {
          @include variables.position(absolute, 0.5rem, -0.7rem, "", "");
          content: "";
          background-color: map-get(variables.$neutralColors, darkGrayishCyan);
          @include variables.size(0.3rem, 0.3rem);
          border-radius: 100%;
        }

        &::before {
          content: "";
          background-color: map-get(variables.$neutralColors, darkGrayishCyan);
          @include variables.size(0.3rem, 0.3rem);
          border-radius: 100%;
          @include variables.position(absolute, 0.5rem, "", "", -0.7rem);
        }
      }
    }
  }

  .categories {
    margin: 0.5rem 0;
    @include variables.flex(row, wrap, "", "");
    max-width: 100%;
    p {
      background-color: map-get(
        variables.$neutralColors,
        lightGrayishCyanFilter
      );
      color: variables.$primary;
      margin: 0.5rem 1rem 0.5rem 0;
      padding: 0.5rem;
      border-radius: 0.5rem;
      cursor: pointer;

      &:hover {
        background-color: variables.$primary;
        color: white;
        cursor: pointer;
      }
    }
  }

  h2 {
    font-size: 1.5rem;
  }
}
