@use "variables.scss";

@media screen and (min-width: 768px) {
  header {
    background: url(/images/bg-header-desktop.svg) variables.$primary;
  }

  li {
    @include variables.flex(row, nowrap, center, space-between);
    padding: 1rem;
    .companyLogo {
      @include variables.position(relative, auto, "", "", "");
      img {
        width: 64px;
      }
    }

    .jobInformation {
      margin: 0 2rem;
      @include variables.flex(row, nowrap, center, "");
      .jobDescription {
        border: none;
        :nth-child(2) {
          margin: 0 3rem;

          &::after {
            top: 0.5rem;
            right: -1.7rem;
          }

          &::before {
            top: 0.5rem;
            left: -1.7rem;
          }
        }
      }
    }

    .container {
      margin: 0 1rem;
    }

    .categories {
      justify-self: flex-end;
    }
  }

  .filter {
    padding: 1rem 2.5rem;
  }
}

@media screen and (min-width: 1024px) {
  main > ul {
    width: 80%;
  }

  .filter {
    width: 80%;
    left: 10%;
    padding: 1rem 4rem;
  }
}
