@use "variables.scss";

@media screen and (min-width: 768px) {
  header {
    background: url(../../../../src/assets/images/bg-header-desktop.svg)
      variables.$primary;
  }

  li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .companyLogo {
      position: relative;
      top: auto;
      img {
        width: 78px;
      }
    }

    .jobInformation {
      margin: 0 2rem;
      flex-direction: row;
      align-items: center;
      .jobDescription {
        border: none;
        :nth-child(2) {
          margin: 0 3rem;

          &::after {
            top: 0.5rem;
            right: -1.7rem;
          }

          &::before {
            top: .5rem;
            left: -1.7rem;
          }
        }
      }
    }

    .container {
      margin: 0 1rem;
    }

    .categories {
      justify-self: flex-end;
    }
  }
}

@media screen and (min-width: 1024px) {
  main > ul {
    width: 80%;
  }
}
