

$primary: hsl(180, 29%, 50%);

$neutralColors: (
    lightGrayishCyanBG: hsl(180, 52%, 96%),
    lightGrayishCyanFilter: hsl(180, 31%, 95%),
    darkGrayishCyan: hsl(180, 8%, 52%),
    veryDarkCyan: hsl(180, 14%, 20%)
);

@mixin flex ($direction, $wrap, $align, $justify) {
    display: flex;
    flex-flow: $direction $wrap;
    align-items: $align;
    justify-content: $justify;
}

@mixin centralize ($width, $marginX, $marginY) {
    width: $width;
    margin: $marginX $marginY;
}

@mixin position ($position, $top, $right, $bottom, $left) {
    position: $position;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

@mixin size ($height, $widht) {
    height: $height;
    width: $widht;
}
